.mobileLinks {
  z-index: 2;
  background-color: var(--bg);
  position: absolute;
  top: 85px;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;
  padding-top: 40px;
}
